@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scrollbar-gutter: stable;
}

/* This file is for your main application CSS */

:root {
    --primary-colour: hsl(22deg 100% 80%);
    --header-bg-colour: hsl(22deg 100% 88%);
    --background-colour: hsla(22deg 100% 93% / 100%);
}

body {
    /* background-color:#fff2eb; */
    background-color: var(--background-colour);
}

.header {
    background-color: var(--header-bg-colour);
}

/************************************************************************
 *
 * Start of markdown styling
 *
 ************************************************************************/
.markdown-content * {
    margin-top: 1rem;
}

.markdown-content ul {
    list-style: disc;
}

/************************************************************************
 *
 * End of markdown styling
 *
 ************************************************************************/

/* Style tag colour picker */
.tag-colour-picker input[type="color"] {
    height: 2.5rem;
    margin-top: 0;
}
