@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: 'advocate_c41regular';
    src: url('../fonts/advocate-regular/advocate_c41_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c41_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'advocate_c41bold';
    src: url('../fonts/advocate-bold/advocate_c41_bold-webfont.woff2') format('woff2'),
         url('../fonts/advocate-bold/advocate_c41_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c43regular';
    src: url('..fonts/advocate-regular/advocate_c43_regular-webfont.woff2') format('woff2'),
         url('..fonts/advocate-regular/advocate_c43_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c43bold';
    src: url('../fonts/advocate-bold/advocate_c43_bold-webfont.woff2') format('woff2'),
         url('../fonts/advocate-bold/advocate_c43_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c45regular';
    src: url('../fonts/advocate-regular/advocate_c45_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c45_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c45bold';
    src: url('../fonts/advocate-bold/advocate_c45_bold-webfont.woff2') format('woff2'),
         url('../fonts/advocate-bold/advocate_c45_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c51regular';
    src: url('../fonts/advocate-regular/advocate_c51_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c51_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c51bold';
    src: url('../fonts/advocate-bold/advocate_c51_bold-webfont.woff2') format('woff2'),
         url('../fonts/advocate-bold/advocate_c51_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c53regular';
    src: url('../fonts/advocate-regular/advocate_c53_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c53_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c53bold';
    src: url('../fonts/advocate-bold/advocate_c53_bold-webfont.woff2') format('woff2'),
         url('../fonts/advocate-bold/advocate_c53_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c55regular';
    src: url('../fonts/advocate-regular/advocate_c55_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c55_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c55bold';
    src: url('../fonts/advocate-bold/advocate_c55_bold-webfont.woff2') format('woff2'),
         url('../fonts/advocate-bold/advocate_c55_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c61regular';
    src: url('../fonts/advocate-regular/advocate_c61_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c61_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c63regular';
    src: url('../fonts/advocate-regular/advocate_c63_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c63_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advocate_c65regular';
    src: url('../fonts/advocate-regular/advocate_c65_regular-webfont.woff2') format('woff2'),
         url('../fonts/advocate-regular/advocate_c65_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scrollbar-gutter: stable;
}

/* This file is for your main application CSS */

:root {
    --primary-colour: hsl(22deg 100% 80%);
    --primary-colour-lighten-1: hsl(22deg 100% 82%);
    --primary-colour-lighten-2: hsl(22deg 100% 84%);
    --primary-colour-lighten-3: hsl(22deg 100% 86%);
    --primary-colour-lighten-4: hsl(22deg 100% 88%);
    --primary-colour-lighten-5: hsl(22deg 100% 90%);
    --primary-colour-lighten-6: hsl(22deg 100% 92%);
    --primary-colour-lighten-6_5: hsl(22deg 100% 93%);
    --primary-colour-lighten-7: hsl(22deg 100% 94%);
    --primary-colour-lighten-7_5: hsl(22deg 100% 95%);
    --primary-colour-lighten-8: hsl(22deg 100% 96%);
    --primary-colour-lighten-8_5: hsl(22deg 100% 97%);
    --primary-colour-lighten-9: hsl(22deg 100% 98%);
    --primary-colour-lighten-9_5: hsl(22deg 100% 99%);
    --primary-colour-lighten-10: hsl(22deg 100% 100%);
    --header-bg-colour: var(--primary-colour-lighten-4);
    --background-colour: var(--primary-colour-lighten-6_5);
    --modal-bg-colour: var(--primary-colour-lighten-6_5);
    --modal-backdrop-bg-colour: var(--primary-colour-lighten-9_5);
    --input-element-bg-colour: var(--primary-colour-lighten-8_5);
}

body, .modal-container, .form-container {
    /* background-color: var(--background-colour); */
}

.modal-component__backdrop {}

.page-header {
    background-color: var(--header-bg-colour);
    border-color: var(--primary-colour);
}

.input-element,[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
    background-color: var(--input-element-bg-colour);
}

/************************************************************************
 *
 * Start of markdown styling
 *
 ************************************************************************/
.markdown-content * {
    margin-top: 1rem;
}

.markdown-content ul {
    list-style: disc;
}

/************************************************************************
 *
 * End of markdown styling
 *
 ************************************************************************/

/* Style tag colour picker */
.tag-colour-picker input[type="color"] {
    height: 2.5rem;
    margin-top: 0;
}


/************************************************************************
 *
 * Start of search styling
 *
 ************************************************************************/

.search-results__footer {
    contain: size;
}

/************************************************************************
  *
  * End of search styling
  *
  ************************************************************************/
