@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scrollbar-gutter: stable;
}

/* This file is for your main application CSS */

/************************************************************************
 *
 * Start of markdown styling
 *
 ************************************************************************/
.markdown-content * {
    margin-top: 1rem;
}

.markdown-content ul {
    list-style: disc;
}

/************************************************************************
 *
 * End of markdown styling
 *
 ************************************************************************/

/* Style tag colour picker */
.tag-colour-picker input[type="color"] {
    height: 2.5rem;
    margin-top: 0;
}
